@model IEnumerable<VinhoModel>
<div class="py-5">
    <div class="container">
        <div class="text-left ">
            @Html.TextBox("strCriterio") &nbsp;
            <input type="submit" value="Procurar" class="btn btn-default" style="color:white;" /> &nbsp;
            <a class="btn btn-sucess" asp-action="Cadastrar" asp-controller="Vinho" style="color:white;">Novo</a>
        </div>


        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-0">

            @if (Model != null)
            {
                @if (Model.Count() > 0)
                {
                    @foreach (var vinho in Model)
                    {
                        <div class="card mx-1 my-1 p-1" style="width: 100rem">
                            <div class="card-bodyx" style="border:1px">
                                <h5> @vinho.Nome</h5>
                                <span>@vinho.Variedade</span>
                                <div class="vinho_linha02" style="border:2px">
                                    <span>@vinho.Origem</span>
                                    <span>@vinho.Safra</span>
                                    <span>@vinho.Tipo</span>
                                    <span>R$ @vinho.Valor</span>
                                </div>
                            </div>
                        </div>
                        
                    }
                }
            }

        </div>

    </div>
</div>
